%a.announcement-container{ href: "#{data.announcement.button_link}" }
  = image_tag "/images/press/press-release-icon.svg", class: "icon"
  .content
    %p
      = data.announcement.content
  = image_tag "/images/solutions/arrow.svg", class: "announcement-arrow", alt: "Gitlab arrow svg"
